.DS_Store
.env
.env.*
!.env.example

node_modules/
dist/
coverage/
npm-debug.log*

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.fvm/

.idea/
.vscode/*
!.vscode/launch.json
!.vscode/settings.json
